
body{
  background-color: #374151;
  color: white;
  overflow-x: hidden;
}


a{
  color: white;
  text-decoration: none;
}

nav{
  color: white;
  box-shadow: none;
}

form{
  background-color: rgba(255, 255, 255, 0.084);
  padding: 30px;
  border-radius: 20px;

}
